<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map><div id="meetup">
  <div class="row">
     <div class="col s12 m6">
       <div class="card  darken-1">
          <div class="card-content black-text">
            <div *ngFor="let meetup of meetups" class="card">
              <span class="card-title">{{meetup.name}}</span>
              <p class="response">  Location: {{meetup.group.localized_location}}</p>
              <p class="response"> <span *ngIf="meetup.venue">  Address: {{meetup.venue.address_1}}</span></p>
              <p class="response">  Date: {{meetup.time | date}}</p>
              <p class="response"> Headcount: {{meetup.yes_rsvp_count}}</p>
              <p class="response">  Status: {{meetup.status}}</p>
              <div class="card-action">
                <a href="{{meetup.link}}">Visit our website</a>
            </div>
              </div>
            </div>
          </div>
        </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <input class="form-control" #meetup placeholder="Search Meetups!">
          </div>
        </div>
        <div class="col-md-5">
          <button class="btn btn-primary" (click)="displayMeetup(meetup.value)" (click)="convertTime(meetup.value)">Search!</button>
        </div>
      </div>
    </div>
  </div>
</div>
