<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo center">Home</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="search" class="brand-logo right">Search For Meetups</a></li>
      <li class="btn btn-default" (click)="loginGoogle()">Login with Google</li>
      <li *ngIf="loggedIn" class="btn btn-default" (click)="logout()">Log Out</li>
      <li><a routerLink="meetups">All Meetups</a></li>
      <li><a routerLink="meetup/new">Add a new Meetup</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1><em style="text-align: center">{{title}}</em></h1>
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
  <router-outlet></router-outlet>
</div>
