<div *ngIf="currentUserKey" class="container">
  <h1>Welcome, {{currentUserName}}</h1>
  <h2>Meetups you are attending:</h2>
  <div *ngFor="let meetup of meetupsForUser" class="card-panel">
    <h4 (click)="goToDetailsPage(meetup)">{{meetup.title}}</h4>
    <button (click)="unJoin(meetup)" class="btn red darken-1">UnJoin</button>
  </div>
</div>
<div *ngIf="currentUserKey === null" class="container">
  <h1>Welcome to Meetup Manager</h1>
  <h6>You can browse all meetups. Login to join a meetup or add one of your own.</h6>
</div>
