<div *ngIf="currentUserKey" class="container">
  <h1>Welcome, {{currentUserName}}!</h1>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <h2>Meetups you are attending:</h2>
  <div *ngFor="let meetup of meetupsForUser" class="card-panel">
    <div class="row">
      <div class="col s6">
        <h4 (click)="goToDetailsPage(meetup)">{{meetup.title}}</h4>
        <button (click)="unJoin(meetup)" class="btn red lighten-2">UnJoin this Meetup</button>
      </div>
      <div class="col s6">
        <div *ngFor="let carpool of currentUserCarpools">
          <h5 *ngIf="carpool.meetup === meetup.title">You are in {{carpool.host}}'s carpool for this meetup<button (click)="unjoinCarpool(carpool)" class="btn red lighten-2 unjoinCarpool">Unjoin Carpool</button></h5>
        </div>
      </div>
    </div>

  </div>
</div>
<div *ngIf="currentUserKey === null" class="container">
  <h1>Welcome to Meetup Manager</h1>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <h4>You can browse all meetups. Login to join a meetup or carpool, or add one of your own.</h4>
</div>
