/* You can add global styles to this file, and also import other style files */
.nav-wrapper {
  background-color:#15A5BD;
}
body, html{
  background-image: url("app/resources/group.jpg");
  background-color: #EAF2F2;
  height: 100%;
  margin: 0;
  padding: 0;
}
agm-map {
  height: 300px;
}

#map {
  height: 100%;
}
/*.parallax{
  background-image: url("https://i.ytimg.com/vi/u3MpZFND4h8/maxresdefault.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/



/*#cardthing {
  display: block;
}

#cardthing{
  display: none;
}
.span2:focus ~ .alert {
  display: block;
}
.alert{display:none;}*/
